@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import "tailwindcss";
/* ============================================================================ */

@utility mycontainer {
  /* ملاحظة: تأكد من تعريف قيمة 330 في الـ @theme أو استخدم القيمة المباشرة [1320px] */
  @apply max-w-330 mx-auto px-2;
}

@utility mytransition {
  @apply transition-all duration-300;
}

@utility section-p {
  @apply pt-10 pb-5;
}

@utility section-flex {
  @apply flex flex-col gap-10;
}
@utility eyeStyle {
  @apply absolute shadow left-2 top-1/2 -translate-y-1/2 rounded-full p-1 ring ring-gray-50/20 bg-white/5;
  @apply hover:bg-white/20 transition-all duration-300;
}
@utility bgg-ip {
  @apply bg-linear-to-r to-indigo-500 from-pink-500;
}

/* Css */
.toast-font {
  font-family: "Almarai", sans-serif;
}
@media (max-width: 300px) {
  .header_res {
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
